@font-face {
    font-family: proggy;
    src: url(../fonts/ProggyClean.ttf);
}

.font_proggy{
    font-family: proggy;
}

.fondo{
    background: url(../img/fondo.svg);
    background-size: cover;
}

.blue-color-gradient 
{ 
    background:linear-gradient(90deg, #0f0f0f 0%, #000724 100%);
}

.blue-color-gradient-button
{ 
    background: rgb(15,15,15);
    /* background: linear-gradient(90deg, #030b29 0%, rgb(37, 110, 255) 100%); */
    background: linear-gradient(90deg, #2267f2 0%, #051346 100%);
}   
.link_item{
     @apply border-b-2 border-solid border-white w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px];
}

.image{
    mask-image: linear-gradient(
        #030030 40%,
        transparent
        /* #1034a9 */
    );
}