---
    const socialMediasArray = [
        {
            url: "#",
            src: "/public/img/media/twitter.svg"
        },
        {
            url: "#",
            src: "/public/img/media/facebook.svg"
        },
        {
            url: "#",
            src: "/public/img/media/instagram.svg"
        },
        {
            url: "#",
            src: "/public/img/media/github.svg"
        },
    ]
---
<div class="relative">
    <div class="py-8 h-[850px] flex flex-col items-center w-[80%] max-w-[900px] md:h-[100vh] mx-auto
    md:flex-row-reverse md:justify-around md:pb-28 relative">
    <!-- <img src="/public/img/pixel.svg" class="w-[400px] drop-shadow-blue-custom"> -->

    <div class="block w-[250px] h-[250px] lg:w-[350px] lg:h-[350px]  transition-all">
        <img src="/public/img/man.png" class="w-[170px] lg:w-[240px] drop-shadow-blue-custom mx-auto py-6 image ">
    </div>
    <!--bg-blue-custom-light rounded-full shadow-custom-blue hover:shadow-custom-blue-hover -->
    <!-- <div class="block w-[450px] h-[450px] bg-center md:bg-left-top md:w-[450px] md:h-[450px] bg-pixel bg-no-repeat drop-shadow-blue-custom transition-all">
        <img src="/public/img/man.png" class="w-[170px] md:w-[240px] mx-auto py-6 image ">
    </div>  -->

    <div class="mt-16 space-y-4 max-w-[500px] md:mt-0 md:w-[60%]">
        <h1 class="text-black text-5xl font-bold">Hola, Soy <span class="text-white ">Alan</span></h1>
        <p class="text-black font-semibold text-3xl lg:text-[25px]">Soy un <span class="text-white
            " id="element"></span></p>

        <p class="text-black text-[14px] lg:text-[18px] font-sourceCode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium provident magni debitis aut doloremque pariatur vitae impedit odit a harum explicabo</p>
        <div class="flex gap-2 lg:gap-4">
            {socialMediasArray.map(x=>
                <a href={x.url} class="w-8 bg-black p-1 shadow-custom-black-blue lg:w-10">
                    <img src={x.src}>
                </a>)}
        </div>
        <div class="pt-4 space-x-3">
            <a href="#" class="bg-black text-blue-custom py-2 px-4  text-xl md:text-2xl shadow-custom-black-blue hover:shadow-custom-blue-two transition-all">Descargar CV</a>
            <a href="#" class="bg-black text-blue-custom py-2 px-4  text-xl md:text-2xl shadow-custom-black-blue hover:shadow-custom-blue-two transition-all">Contactame</a>
        </div>

    </div>
</div>
<div class="bg-wave bg-repeat-x h-10 md:h-16">
    {/* <img src="/public/img/wave.svg" alt="wave" class="absolute bottom-0 h-20 left-0"> */}

</div>
</div>
<script src="../../public/js/typer.js"></script>