<div class="max-w-[900px] mx-auto py-20 section">
    <h1 class="w-[80%] max-w-[900px] mx-auto text-4xl mb-6 text-center lg:text-5xl  text-shadow text-blue-custom [text-shadow:_0_0px_10px_rgb(93_247_255/_100%)]  font-bold">&lt;Contactame/&gt;</h1>

    <div class="flex flex-col md:flex-row justify-between gap-8 items-center py-[30px] md:py-[60px]">
        <div class="">
            <img src="/public/img/ghost.png" class=" w-[200px] md:w-[300px] drop-shadow-blue-custom-solid">
        </div>
        <div class="bg-gray-950/50 w-[100%] max-w-[350px] md:w-[55%] md:max-w-none shadow-custom-black-blue-difumined-min py-4 space-y-8 border-[0.5px] border-blue-custom">
            <div>
                <label for="from" class="text-white text-2xl w-[90%] mx-auto block">Full Name</label>
                <input type="text" id="fullName" class="block mx-auto h-10 w-[90%] bg-transparent border-[0.1px] border-solid border-blue-custom text-2xl px-2 py-4 text-white" placeholder="Your Name">
            </div>
            <div>
                <label for="to" class="text-white text-2xl w-[90%] mx-auto block">Mail Address</label>
                <input type="text" id="emailAddress" class="block mx-auto h-10 w-[90%] bg-transparent border-[0.1px] border-solid border-blue-custom text-2xl px-2 py-4 text-white" placeholder="Mail Address">
            </div>           
            <div>
                <label for="Message" class="text-white text-2xl w-[90%] mx-auto block">Message</label>
                <textarea name="" id="message" cols="50" rows="4" class="mx-auto block w-[90%] bg-transparent border-[0.1px] border-solid border-blue-custom text-2xl px-2 py-4 text-white"></textarea>
            </div>
            <span id="error" class="ml-6 mt-4 text-red-500 font-bold text-xl"></span>
            <button class="bg-white text-black text-3xl py-1 w-[90%] block mx-auto" id="sendEmail">Enviar</button>
        </div>
    </div>
</div>
<div class="bg-wave-reverse w-full h-10 md:h-16 bg-repeat-x"></div>
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
(function(){
emailjs.init({
    publicKey: "ioVytExuByq-cGS0U",
});
})();
</script>
<script src="../../public/js/email.js"></script>
