<div class="w-[80%] max-w-[900px] mx-auto py-20 section">
    <h1 class="w-[80%] max-w-[900px] mx-auto text-4xl mb-6 text-center lg:text-5xl  text-shadow text-blue-custom [text-shadow:_0_0px_10px_rgb(93_247_255/_100%)]  font-bold">&lt;Contactame/&gt;</h1>

    <form class="bg-gray-950/50 shadow-custom-black-blue-difumined-min py-4 space-y-8">
        <input type="text" class="block mx-auto h-10 w-[90%] bg-blue-custom/90">
        <input type="text" class="block mx-auto h-10 w-[90%]  bg-blue-custom/90">
        <input type="text" class="block mx-auto h-10 w-[90%]  bg-blue-custom/90">
        <textarea name="" id="textarea" cols="50" rows="10" class="mx-auto block w-[90%] bg-blue-custom/90"></textarea>
    </form>

</div>