<header class="h-20 w-full relative md:flex md:justify-center md:items-center">
    <!-- border-solid border-white border-b-2 -->
    <img
        id="hamburguer_menu"
        src="/public/img/hamburger.svg"
        alt="menu"
        class="w-8 h-8 absolute right-0 top-0 m-5 md:hidden"
    />

    <nav class="opacity-0 invisible transition-all md:hidden z-50" id="navbarMobile">
        <div class="backdrop-blur-md fixed inset-4 z-50 pt-20 rounded-md bg-black/60 ">
        </div>

        <ul
            class="fixed inset-4 justify-center pt-20 z-50 space-y-8 font-semibold text-center rounded-md shadow-custom shadow-white"
        >
            <li class="link_item">
                <a
                    href="#"
                    class="blue-color-gradient-button block w-[100%]
                mx-auto rounded-full py-3 text-white"
                    >Sobre mi</a
                >
            </li>
            <li class="link_item">Educacion</li>
            <li class="link_item">Tecnologias</li>
            <li class="link_item">Proyectos</li>
            <li class="link_item">Contactame</li>
            <li
                class="w-[70%] max-w-[300px] mx-auto h-auto bg-slate-50 text-black rounded-full"
            >
                <!-- absolute bottom-4 inset-x-0 -->
                <a href="#" class="flex justify-center items-center py-2">
                    <img src="/public/img/github.svg" class="w-10" />
                    <p class="text-lg">GitHub</p>
                </a>
            </li>
        </ul>

        <div class="fixed inset-4 z-50 ">
            <img
                class="absolute right-2 top-2 w-8 h-8"
                src="/public/img/close.svg"
                id="close_menu"
            />
            <img
                class="absolute left-2 top-2 w-10 h-8"
                src="/public/img/argentina_flag.svg"
            />
        </div>
    </nav>

    <nav
        class="hidden max-w-[900px] md:flex w-[80%] border-solid border-[1px] border-white rounded-full
     text-white justify-center list-none gap-6 py-1 text-[12px] items-center lg:gap-12 shadow-custom shadow-white relative"
    >
        <img
            class="absolute left-4 w-7"
            src="/public/img/argentina_flag.svg"
        />

        <li>
            <a href="#">Sobre mi</a>
        </li>
        <li>
            <a href="#">Educacion</a>
        </li>
        <li>
            <a href="#">Tecnologias</a>
        </li>
        <li>
            <a href="#">Proyectos</a>
        </li>
        <li>
            <a href="#">Contactame</a>
        </li>
        <li class="bg-slate-50 text-black rounded-full p-1">
            <!-- absolute bottom-4 inset-x-0 -->
            <a href="#" class="flex justify-center items-center">
                <img src="/public/img/github.svg" class="w-5" />
                <p>GitHub</p>
            </a>
        </li>
    </nav>
</header>

<script src="../../public/js/hamburguer.js"></script>
