<header class="h-20 w-full relative md:flex md:justify-center md:items-center">
    <!-- border-solid border-white border-b-2 -->
    <img
        id="hamburguer_menu"
        src="/img/hamburger.svg"
        alt="menu"
        class="w-8 h-8 absolute right-0 top-0 m-5 md:hidden"
    />

    <nav class="opacity-0 invisible transition-all md:hidden z-50" id="navbarMobile">
        <div class="backdrop-blur-md fixed inset-4 z-50 pt-20 bg-black/90 ">
        </div>

        <ul
            class="fixed inset-4 justify-center pt-20 z-50 space-y-8 font-semibold text-center shadow-custom text-[18px]"
        >
            <li class="border-b-2 border-solid border-light-blue w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px] ">
                <a
                    href="#SobreMi"
                    class="blue-color-gradient-button block
                mx-auto py-3 text-black "
                    >&lt;SobreMi/&gt;</a
                >
            </li>
            <li class="border-b-2 border-solid border-light-blue w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px]  text-blue-custom ">
                <a href="#Educacion"></a>
                &lt;Educacion/&gt;
            </li>
            <li class="border-b-2 border-solid border-light-blue w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px] text-blue-custom" >
                <a href="#Tecnologias">
                    &lt;Tecnologias/&gt;
                </a>
               </li>
            <li class="border-b-2 border-solid border-light-blue w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px] text-blue-custom ">
                <a href="#Proyectos">&lt;Proyectos/&gt;</a>
            </li>
            <li class="border-b-2 border-solid border-light-blue w-[60%] mx-auto pb-5 text-white filter-none text-sm max-w-[300px] text-blue-custom">
                <a href="#Contactame">&lt;Contactame/&gt;</a></li>
            <li
                class="w-[60%] max-w-[300px] mx-auto h-auto bg-slate-50 text-black"
            >
                <!-- absolute bottom-4 inset-x-0 -->
                <a href="https://github.com/AlanAruFlores" class="flex justify-center items-center py-2" target="_blank">
                    <img src="/img/github.svg" class="w-10" />
                    <p class="text-lg">GitHub</p>
                </a>
            </li>   
        </ul>

        <div class="fixed inset-4 z-50 ">
            <img
                class="absolute right-2 top-2 w-8 h-8"
                src="/img/close.svg"
                id="close_menu"
            />
            <img
                class="absolute left-2 top-2 w-10 h-8"
                src="/img/argentina_flag.svg"
            />
        </div>
    </nav>

    <nav
        class="hidden max-w-[900px] md:flex w-[80%] 
     text-black text-[20px] font-bold justify-center list-none gap-6 py-1 items-center lg:gap-12 relative"
    >
        <img
            class="left-4 w-9"
            src="/img/argentina_flag.svg"
        />

        <li>
            <a href="#SobreMi">&lt;SobreMi/&gt;</a>
        </li>
        <li>
            <a href="#Educacion">&lt;Educacion/&gt;</a>
        </li>
        <li>
            <a href="#Tecnologias">&lt;Tecnologias/&gt;</a>
        </li>
        <li>
            <a href="#Proyectos">&lt;Proyectos/&gt;</a>
        </li>
        <li>
            <a href="#Contactame">&lt;Contactame/&gt;</a>
        </li>
        <li class="bg-slate-50 text-black shadow-custom-black p-0.5 px-5">
            <!-- absolute bottom-4 inset-x-0 -->
            <a href="https://github.com/AlanAruFlores" class="flex justify-center items-center" target="_blank">
                <img src="/img/github.svg" class="w-5" />
                <p>GitHub</p>
            </a>
        </li>
    </nav>
</header>

<script src="../../public/js/hamburguer.js"></script>
