--- 
    import Carrousel from "../components/carrousel.astro";
    import LineCarrousel from "../components/line_carrousel.astro";

    const programmingLanguagesImages=[
        "/public/img/languages/html-5.svg",
        "/public/img/languages/css.svg",
        "/public/img/languages/javascript.svg",
        "/public/img/languages/java.svg",
        "/public/img/languages/php.svg"
    ];

    const databasesImages = [
    "/public/img/languages/mysql.svg"
    ];

    const frameworksImages=[
        "/public/img/languages/spring_boot.png",
        "/public/img/languages/spring.svg",
        "/public/img/languages/hibernate.svg",
        "/public/img/languages/jpa.png",
        "/public/img/languages/spring_security.png",
        "/public/img/languages/thymeleaf.svg",
        "/public/img/languages/angular.svg",
        "/public/img/languages/bootstrap.svg",
        "/public/img/languages/astro.svg",
        "/public/img/languages/tailwind.svg"
    ];

    const toolsImages=[
        "/public/img/tools/git.svg",
        "/public/img/tools/eclipse-icon.svg",
        "/public/img/tools/intellij-idea.svg",
        "/public/img/tools/visual-studio-code.svg",
        "/public/img/tools/postman-icon.svg"
    ]
---
<div class="w-full h-[500px]">
    <div class="w-[80%] max-w-[900px] mx-auto">
        <h1 class="w-[80%] max-w-[900px] mx-auto text-4xl mb-6 text-center lg:text-5xl shadow-red-100 text-shadow text-blue-custom [text-shadow:_0_0px_10px_rgb(37_110_255/_100%)]">&lt;Tecnologias/&gt;</h1>
        
        <Carrousel title={"Lenguajes de Programacion"} array={programmingLanguagesImages}/>
        <LineCarrousel/>

        <Carrousel title={"Bases de Datos"} array={databasesImages}/>
        <LineCarrousel/>

        <Carrousel title={"Frameworks"} array={frameworksImages}/>
        <LineCarrousel/>
    
        <Carrousel title={"Herramientas"} array={toolsImages}/>
    </div>
</div>

<script src="../../public/js/swiper.js"></script>