<!-- 

        <div class="lg:hidden">
            <div class="swipper_mobile_projects overflow-hidden relative w-[80%] mx-auto">
                    <div class="swiper-wrapper py-10">
                        <div class="swiper-slide">
                            <div class="bg-gray-950/50  w-[275px] mx-auto max-w-[300px] p-4 shadow-custom-black-blue-difumined space-y-3">
                                <div class="bg-monopoly h-[175px] bg-right bg-cover bg-no-repeat">
                                </div>
                                <div class="relative">
                                    <h3 class="text-blue-custom text-2xl text-center">Monopoly</h3>
                                    <a
                                    href="#"
                                    class="bg-white absolute top-0 right-0 flex my-1 p-1 shadow-custom-light-blue"
                                >
                                    <img src="/public/img/github.svg" class="w-5" />
                                    </a>     
                                </div>
                                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus natus illo non alias libero molestiae!</p>
                                <ProjectItem array={monopolyTechnologies}/>
                            
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-gray-950/50 w-[275px] mx-auto max-w-[300px] p-4 shadow-custom-black-blue-difumined space-y-3">
                                <div class="bg-monopoly h-[175px] bg-right bg-cover bg-no-repeat">
                                </div>
                                <div class="relative">
                                    <h3 class="text-blue-custom text-2xl text-center">Monopoly</h3>
                                    <a
                                    href="#"
                                    class="bg-white absolute top-0 right-0 flex my-1 p-1 shadow-custom-light-blue"
                                >
                                    <img src="/public/img/github.svg" class="w-5" />
                                    </a>     
                                </div>
                                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus natus illo non alias libero molestiae!</p>
                                <ProjectItem array={monopolyTechnologies}/>
                            
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>                                
            </div>
        </div>
        <div class="hidden lg:block">
            <div class="swiper2 overflow-hidden">
                <div class="swiper-wrapper flex items-center py-10 w-full">
                    <div class="swiper-slide">
                        <div
                        class="bg-flybondi relative bg-cover bg-gray-950 bg-opacity-60 bg-no-repeat bg-left bg-blend-darken h-[500px] backImage flex flex-col justify-center px-60 hover:bg-opacity-0 transition-all">
                            <div
                                class="left-14 m-2 absolute w-[250px] shadow-custom-black-blue-difumined-min bg-black/80 p-2">
                                <h3 class="text-blue-custom text-2xl">Flybondi</h3>
                                <p class="text-white text-xl font-semibold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, deleniti dolorem? Officia nihil nemo perferendis.</p>
                                <ProjectItem array={flyBondyTechnologies}/>
                                    <a
                                        href="#"
                                        class="bg-white absolute top-0 right-0 flex m-3 px-2">
                                        <img src="/public/img/github.svg" class="w-5" />
                                        <p>GitHub</p>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                        class="bg-monopoly relative bg-cover bg-gray-950 bg-opacity-60 bg-no-repeat bg-bottom bg-blend-darken h-[500px] backImage flex flex-col justify-center px-60 hover:bg-opacity-0 transition-all">
                            <div
                                class="left-14 m-2 absolute w-[250px] shadow-custom-black-blue-difumined-min bg-black/80 p-2">
                                <h3 class="text-blue-custom text-2xl">Monopoly</h3>
                                <p class="text-white text-xl font-semibold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, deleniti dolorem? Officia nihil nemo perferendis.</p>
                                <ProjectItem array={monopolyTechnologies}/>
                                    <a
                                        href="#"
                                        class="bg-white absolute top-0 right-0 flex m-3 px-2"
                                    >
                                        <img src="/public/img/github.svg" class="w-5" />
                                        <p>GitHub</p>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
    
        </div>
     -->